body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #ffffff;
    color: #333;
}

nav {
    background: #6A0DAD;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

nav .left {
    font-size: 22px;
    font-weight: 600;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px 50px;
}

.hero img {
    width: 200px;
}

.hero h1 {
    font-size: 45px;
    color: #6A0DAD;
    margin-bottom: 10px;
}

section {
    padding: 40px 50px;
}

h2 {
    font-size: 32px;
    color: #6A0DAD;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.skill-box {
    width: 180px;
    padding: 25px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08);
}

.skill-box img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.skill-box p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.project-item {
    margin-bottom: 25px;
}

.project-item b {
    font-size: 20px;
}

.recommend-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.recommend-box {
    border: 1px solid #ddd;
    padding: 20px;
    width: 30%;
    min-width: 260px;
    background: #fff;
    border-radius: 10px;
    font-style: italic;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08);
}

.recommend-form {
    margin-top: 30px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 12px 12px;
    background: #6A0DAD;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.9;
}

#topBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #6A0DAD;
    color: #fff;
    padding: 12px 16px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    font-size: 20px;
}